@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.obsidian-editor .cm-editor {
  font-family: ui-serif, Georgia, serif;
  font-size: 16px;
}

.obsidian-editor .cm-content {
  padding: 20px 20px 20px 0px ;
  line-height: 1.7;
}

.obsidian-editor .cm-gutters {
  display: none;
}

.obsidian-editor .cm-editor {
  background: transparent;
}

.obsidian-editor .cm-focused {
  outline: none;
}

.obsidian-editor .cm-cursor {
  border-left-color: white !important; /* رنگ نشانگر */
}

